* html #content {
  height: 640px;
}

.a-little-note-wrapper {
  margin-right: 0 !important;
}

.a-little-note-top {
}

.a-little-note-bottom {
}

.a-little-note {
  float: none !important;
}

.a-little-note img {
}

.a-little-note p {
}

.images-frame {
  display: none;
}

#shop-items {
  padding-left: 20px;
}

.shop-item {
  margin-left: 0 !important;
  padding: 0 !important;
}
