body {
  color: #7D6A55;
  background: transparent url(../images/background.jpg) center top;
  font: 1.05em 'IM Fell English', Georgia, "Times New Roman", Times, serif;
}

a,
a:hover,
a:active,
a:visited {
  outline: none;
  color: #7D6A55;
  text-decoration: none;
}

p {
  margin-bottom: 0;
  padding-bottom: 20px;
}

ul {
  margin-bottom: 0;
}

#header-wrapper {
}

#header {
  background: transparent url("../images/name-trans.png") no-repeat center top;
  padding-top: 150px;
  overflow: hidden;
  height: 0;
}

#navigation ul {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#navigation ul li {
  display: inline;
  margin: 0;
  margin-right: 5px;
}

#content-outer-wrapper {
  /*background: transparent url("../images/background-content.jpg") repeat-y center top;*/
}

#content-wrapper {
}

#content-top {
  background: transparent url("../images/frame-top-trans.png") no-repeat center top;
  height: 28px;
  margin-top: 20px;
}

#content-bottom {
  background: transparent url("../images/frame-bottom-trans.png") no-repeat center top;
  height: 28px;
  margin-bottom: 20px;
}

#content {
  background: transparent url("../images/frame-left-right-trans.png") repeat-y center top;
  padding: 0 30px;
  min-height: 640px;
}

#footer-wrapper {
}

#footer {
  padding-top: 5px;
  text-align: center;
  font-size: .9em;
  color: #7D6A55;
}

#footer h3, #footer p {
    margin-bottom: 0 !important;
    padding-bottom: 10px !important;
}

#hours {
    -moz-transform: scale(.9) rotate(-15deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(.9) rotate(-15deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(.9) rotate(-15deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(.9) rotate(-15deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(.9) rotate(-15deg) translate(0px, 0px) skew(0deg, 0deg);
}

.homepage-divider {
  width: 460px;
  color: #7D6A55;
}

hr.space {
  border-color: transparent;
  background-color: transparent;
  visibility: hidden;
}

hr.divider {
  border-top: 2px dashed #7D6A55;
}

#cart {
  text-align: right;
}

#cart img {
  float: right;
  display: block;
  margin-left: 10px;
}

#cart form {
  padding-top: 10px;
}

#content-text-wrapper {
  width: 380px;
  float: right;
}

.embed {
  width: 460px;
}

/* @group A little note */

.a-little-note-wrapper {
  width: 358px;
  float: right;
  margin-right: 30px;
}

.a-little-note-top {
  background: transparent url(../images/a-little-note-top-trans.png) no-repeat center top;
  height: 8px;
}

.a-little-note {
  background: transparent url(../images/a-little-note-trans.png) repeat-y center top;
}

.a-little-note-bottom {
  background: transparent url(../images/a-little-note-bottom-trans.png) no-repeat center top;
  height: 8px;
}

.a-little-note-text {
  margin-left: 1.5em;
}

.a-little-note p {
  padding: 1.5em;
}

/* @end */

/* @group Video */

.video {
  text-align: center;
  width: 460px;
}

.video-caption {
  width: 460px;
  padding-top: 10px;
}

/* @end */

/* @group Shop */

.shop-item {
  width: 200px;
  text-align: center;
  border: 1px solid #7D6A55;
  background-color: #FFFEE0;
  padding-top: 10px;
  float: left;
  margin-left: 9px;
  margin-right: 9px;
}

/* @end */

/* @group Menus */

#menus {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin-bottom: 0;
}

#menus li a {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  border-bottom: 1px solid;
}
/* @end */

/* @group Press */

.press {
  width: 460px;
}

.press * {
  font-size: .95em;
}

.press a:hover {
  border-bottom: 1px solid #7D6A55;
}

/* @end */

#OT_searchWrapperAll * {
  background: #fff !important;
}
