#tabs-container {
  border-bottom: dotted 2px #7D6A55;
  margin-bottom: 20px;
  background-color: #FFFEE0;
  width: 460px;
  margin-right: 1em;
  float: left;
}

.caption {
  text-align: center;
}

.images-frame {
  background: transparent url(../images/picture-frame-trans.png) no-repeat center top;
  z-index: 100;
  position: absolute;
  top: 48px;
  left: 30px;
  width: 460px;
  height: 300px;
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
}

.images {
  position: relative;
  float: left;
  width: 460px;
  height: 300px;
  margin: 0;
  z-index: 99;
  background-color: #000;
}

.images div {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0;
    padding: 0;
    width: 450px;
    height: 290px;
    overflow: hidden;
}

.images div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tabs {
    clear: both;
    float: right;
    display:none;
}

.tabs a {
	width: 10px;
	height: 10px;
	margin: 3px;
	float: left;
	display: block;
	text-decoration: none;
	font-size: 2em;
	border-bottom: none !important;
}

.tabs a:hover {
    color: red;
}

.tabs a.current {
    color: red;
}

#backward-forward {
  text-align: center;
}

.backward,
.forward {
  font-size: 3em;
  cursor: pointer;
}

.backward:active,
.forward:active {
    color: red;
}

.disabled {
    visibility: hidden;
}

.play-stop {
    text-align: center;
}
